.hobbies{
    transition: 0.5s all;
    padding: clamp(10px, 2.5%, 50px);
    text-align: center;
}

.hobbiesBox{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.hobby{
    margin: auto 10%;
    padding-bottom: 5%;
}

.hobbiesPhoto{
    width: 50%;
    transition: 0.5s all;
}

.hobbiesPhoto:hover{
    width: 60%;
}

@media (max-width: 960px) {
    .hobbiesBox{
        display: grid;
        grid-template-columns: 1fr;
    }    
    .hobby{
        padding-bottom: 10%;
    }
}