.navContainer {
  max-width: 1200px;
  width: 100%;
}

.navBar {
  width: 100%;
  height: 5vh;
  min-height: 40px;
  max-height: 100px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 99;
}

.navBarOptions {
  margin: 0;
  max-width: 1200px;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

ul {
  color: rgb(214, 214, 214);
  font-weight: bold;
  list-style: none;
  text-decoration: none;
  margin: 0;
}

.navBarOptions li {
  transition: 0.2s all;
}

li:hover {
  cursor: pointer;
  color: white;
}

.hamburguerMenuBox {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.hamburguerMenu {
  margin-right: 5%;
  height: auto;
  display: none;
}

.lateralMobileMenu {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.253);
  border: none;
}

.lateralMobileMenu[open] {
  display: flex;
  justify-content: flex-end;
}

.lateralMobileMenu ul {
  padding: 0;
  position: relative;
  background-color: rgb(29, 29, 29);
  left: clamp(15px, 2vw, 30px);
  bottom: clamp(15px, 1.5vh, 50px);
}

.lateralMobileMenu li {
  text-align: center;
  padding: 5%;
  border: 1px solid rgba(138, 138, 138, 0.13);
}

@media (max-width: 960px) {
  .navBarOptions {
    display: none;
  }

  .hamburguerMenu {
    display: flex;
    width: 30px;
    height: auto;
    margin-left: 5%;
  }
}